if command -v kubectl &>/dev/null; then
    if command -v kubecolor &>/dev/null; then
        function kctl() {
            {{- if eq .defaultCloudProvider "aws" }}
            aws-sso-login
            {{- else if eq .defaultCloudProvider "gcloud" }}
            gcloud-login
            {{- end }}

            kubecolor "$@"
        }
    else
        function kctl() {
            {{- if eq .defaultCloudProvider "aws" }}
            aws-sso-login
            {{- else if eq .defaultCloudProvider "gcloud" }}
            gcloud-login
            {{- end }}

            kubectl "$@"
        }
    fi

    compdef kctl='kubectl'

    function kube-get-secret() {
        local name="${1:?secret name not specified}"
        shift 1

        kubectl get "secrets/$name" -o json "$@" | jq ".data | map_values(@base64d)"
    }
fi

if command -v k9s &>/dev/null; then
    function k9s() {
        {{- if eq .defaultCloudProvider "aws" }}
        aws-sso-login
        {{- else if eq .defaultCloudProvider "gcloud" }}
        gcloud-login
        {{- end }}

        command k9s "$@"
    }
fi

if command -v kubectx &>/dev/null; then
    functions ksel() {
        kubectx "${1:-}" || return 1
        kubens "${2:-}" || return 1
    }

    alias kx=kubectx
    alias kn=kubens
fi
