{{- $email := promptStringOnce . "email" "Email Address" "acidrain1@gmail.com" -}}
{{- $signingkey := promptStringOnce . "signingkey" "GPG Signing Key" "" -}}
{{- /* Base on number of CPUs? */ -}}
{{- /* https://www.chezmoi.io/user-guide/machines/general/#determine-how-many-cpu-cores-and-threads-the-current-machine-has */ -}}
{{- $makejobs := promptIntOnce . "makejobs" "Number of Parallel Make Jobs" 4 -}}
{{- $nvimEnableCoC := promptBoolOnce . "nvimEnableCoC" "Enable coc.nvim" true -}}
{{- $gitUrlSSHOverrides := promptStringOnce . "gitUrlSSHOverrides" "Git remotes for which to force SSH (comma separated)" "" -}}

{{- $setupPrivateGit := promptBoolOnce . "setupPrivateGit" "Add private git config" false -}}
{{- $privateGitName := "" -}}
{{- $privateGitEmail := "" -}}
{{- $privateGitSigningKey := "" -}}

{{- if eq $setupPrivateGit true -}}
{{- $privateGitEmail = promptStringOnce . "privateGit.email" "Private Git Email Address" "acidrain1@gmail.com" -}}
{{- $privateGitSigningKey = promptStringOnce . "privateGit.signingKey" "Private Git GPG Signing Key" "" -}}
{{- end -}}

{{- $homebrewPrefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $homebrewPrefix = promptStringOnce . "homebrewPrefix" "Homebrew prefix" "/opt/homebrew" -}}
{{- end -}}

{{- $cloudProviders := list "none" "aws" "gcloud" -}}
{{- $defaultCloudProvider := promptChoiceOnce . "defaultCloudProvider" "Default cloud provider" $cloudProviders "none" -}}

{{- $osid := .chezmoi.os -}}
{{- if ne .chezmoi.osRelease nil -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     if hasPrefix "opensuse-" .chezmoi.osRelease.id -}}
{{-       $osid = printf "%s-opensuse" .chezmoi.os -}}
{{-     else -}}
{{-       $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- $chassisType := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- $model := (output "sysctl" "-n" "hw.model") -}}
{{-   if contains "MacBook" $model -}}
{{-     $chassisType = "laptop" -}}
{{-   else if contains "VirtualMac" $model -}}
{{-     $chassisType = "vm" -}}
{{-   else -}}
{{-     $chassisType = "desktop" -}}
{{-   end -}}
{{- else if and (eq .chezmoi.os "linux") (ne (lookPath "hostnamectl") "") -}}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis -}}
{{- end -}}
{{- if not $chassisType -}}
{{-   $chassisType = "desktop" -}}
{{- end -}}

[diff]
exclude = ["scripts"]

[data]
email = {{ $email | quote }}
signingkey = {{ $signingkey | quote }}
makejobs = {{ $makejobs }}
nvimEnableCoC = {{ $nvimEnableCoC }}
gitUrlSSHOverrides = {{ $gitUrlSSHOverrides | quote }}
osid = {{ $osid | quote }}
setupPrivateGit = {{ $setupPrivateGit }}
{{- if eq .chezmoi.os "darwin" }}
homebrewPrefix = {{ $homebrewPrefix | quote }}
{{- end }}
chassisType = {{ $chassisType | quote }}
defaultCloudProvider = {{ $defaultCloudProvider | quote }}

{{- if eq $setupPrivateGit true }}

[data.privateGit]
email = {{ $privateGitEmail | quote }}
signingKey = {{ $privateGitSigningKey | quote }}
{{- end }}

[data.command]
{{- if eq .chezmoi.os "darwin" }}
clip = "pbcopy"
xargs = "xargs"
{{- else }}
clip = "xsel --clipboard"
xargs = "xargs -r"
{{- end }}

[data.path]
{{- if eq .chezmoi.os "darwin" }}
fzf_completion = "{{ $homebrewPrefix }}/opt/fzf/shell/completion.zsh"
fzf_key_bindings = "{{ $homebrewPrefix }}/opt/fzf/shell/key-bindings.zsh"
skim_key_bindings = "{{ $homebrewPrefix }}/opt/sk/share/zsh/site-functions/key-bindings.zsh"
pyenv_completion = ""  # TODO
{{- else if eq $osid "linux-fedora" }}
fzf_completion = "/usr/share/zsh/site-functions/_fzf"
fzf_key_bindings = "/usr/share/fzf/shell/key-bindings.zsh"
skim_key_bindings = "/usr/share/skim/shell/key-bindings.zsh"
pyenv_completion = ""  # TODO
{{- else if or (eq $osid "linux-debian") (eq $osid "linux-ubuntu") }}
fzf_completion = "/usr/share/doc/fzf/examples/completion.zsh"
fzf_key_bindings = "/usr/share/doc/fzf/examples/key-bindings.zsh"
skim_key_bindings = "/usr/share/doc/skim/examples/key-bindings.zsh"
pyenv_completion = ""  # TODO
{{- else if eq $osid "linux-opensuse" }}
fzf_completion = "/usr/share/fzf/shell/completion.zsh"
fzf_key_bindings = "/usr/share/fzf/shell/key-bindings.zsh"
skim_key_bindings = "/usr/share/skim/shell/key-bindings.zsh"
pyenv_completion = ""  # TODO
{{- else }}
fzf_completion = "/usr/share/fzf/completion.zsh"
fzf_key_bindings = "/usr/share/fzf/key-bindings.zsh"
skim_key_bindings = "/usr/share/skim/key-bindings.zsh"
pyenv_completion = "/usr/share/zsh/site-functions/_pyenv"
{{- end }}
jetbrains_jre = ""

[data.pipewire]
{{- $pipewireClockRate := 48000 }}
{{- $pipewireQuantum := 1024 }}
{{- $pipewireMinQuantum := 16 }}
{{- $pipewireMaxQuantum := 2048 }}
{{- if index . "pipewire" }}{{/* Keep currently defined values */}}
{{-   $pipewireClockRate = .pipewire.clock_rate }}
{{-   $pipewireQuantum = .pipewire.quantum }}
{{-   $pipewireMinQuantum = .pipewire.min_quantum }}
{{-   $pipewireMaxQuantum = .pipewire.max_quantum }}
{{- else }}
{{-   $setupForFullaSchiit := promptBool "Setup PipeWire for the Fulla Schiit" false -}}
{{-   if $setupForFullaSchiit }}
{{-     $pipewireClockRate = 96000 }}
{{-     $pipewireQuantum = 2048 }}
{{-     $pipewireMinQuantum = 1024 }}
{{-     $pipewireMaxQuantum = 8192 }}
{{-   end }}
{{- end }}
clock_rate = {{ $pipewireClockRate }}
quantum = {{ $pipewireQuantum }}
min_quantum = {{ $pipewireMinQuantum }}
max_quantum = {{ $pipewireMaxQuantum }}

# vim: ft=toml
