#! /bin/bash

info()    { printf "\\e[32m[INFO]\\e[0m    %s\\n" "$*" >&2 ; }
warning() { printf "\\e[33m[WARNING]\\e[0m %s\\n" "$*" >&2 ; }
error()   { printf "\\e[31m[ERROR]\\e[0m   %s\\n" "$*" >&2 ; }
fatal()   { printf "\\e[35m[FATAL]\\e[0m   %s\\n" "$*" >&2 ; exit 1 ; }

info "Installing system packages"

{{ if eq .osid "linux-arch" -}}
# Ensure the script is marked as changed if paru is installed
# paru-is-installed: {{ ne (lookPath "paru") "" }}

if command -v paru > /dev/null; then
    info "Installing Arch/AUR packages: {{ .packages.linux.arch.aur }}"
    paru -S --needed \
    {{ range .packages.linux.arch.pacman }} {{ . | quote }} {{ end }} \
    {{ range .packages.linux.arch.aur }} {{ . | quote }} {{ end }}
else
    info "Installing Arch packages: {{ .packages.linux.arch.pacman }}"
    warning "paru is not installed, skipping AUR packages"
    sudo pacman -S --needed {{ range .packages.linux.arch.pacman }} {{ . | quote }} {{ end }}
fi
{{ else if eq .osid "darwin" -}}
{{ range .packages.macos.brew.taps -}}
info "Tapping {{ . }}"
brew tap {{ . | quote }}
{{ end }}
info "Installing packages: {{ .packages.macos.brew.packages }}"
brew install --quiet {{ range .packages.macos.brew.packages }} {{ . | quote }} {{ end }}
info "Installing casks: {{ .packages.macos.brew.casks }}"
brew install --quiet --cask {{ range .packages.macos.brew.casks }} {{ . | quote }} {{ end }}
{{ end -}}

# vim: ft=jinja
