#! /bin/bash

{{ if eq .chezmoi.os "linux" -}}

# dconf-is-installed: {{ ne (lookPath "dconf") "" }}
# hashes: {{ include "dconf.dump" | sha256sum }}

. ~/.local/lib/log.sh

info "Loading dconf settings"

if ! command -v dconf &> /dev/null; then
    warning "$0: dconf not installed: skipping"
    exit 0
fi

dconf load / < "{{ .chezmoi.sourceDir }}/dconf.dump"

# TODO: Add org.gnome.shell.extensions.dash-to-dock

{{- end }}

# vim: ft=bash
