#! /bin/bash

info()    { printf "\\e[32m[INFO]\\e[0m    %s\\n" "$*" >&2 ; }
warning() { printf "\\e[33m[WARNING]\\e[0m %s\\n" "$*" >&2 ; }
error()   { printf "\\e[31m[ERROR]\\e[0m   %s\\n" "$*" >&2 ; }
fatal()   { printf "\\e[35m[FATAL]\\e[0m   %s\\n" "$*" >&2 ; exit 1 ; }

info "Installing system packages"

{{ if eq .osid "linux-arch" -}}
# Ensure the script is marked as changed if paru is installed
# paru-is-installed: {{ ne (lookPath "paru") "" }}

if command -v paru > /dev/null; then
    info "Installing Arch/AUR packages: {{ .packages.linux.arch.aur }}"
    paru -S --needed \
    {{ .packages.linux.arch.pacman | quoteList | join " " }} \
    {{ .packages.linux.arch.aur | quoteList | join " " }} \
else
    info "Installing Arch packages: {{ .packages.linux.arch.pacman }}"
    warning "paru is not installed, skipping AUR packages"
    sudo pacman -S --needed {{ .packages.linux.arch.pacman | quoteList | join " " }}
fi
{{ else if contains "opensuse" .osid -}}
info "Installing openSUSE packages: {{ .packages.linux.opensuse.packages }}"
sudo zypper install -y {{ .packages.linux.opensuse.packages | quoteList | join " " }}
sudo zypper install -y -t pattern {{ .packages.linux.opensuse.patterns | quoteList | join " " }}
{{ else if eq .osid "darwin" -}}
if [[ "$EUID" -eq 0 ]]; then
    warning "Skipping package installation when running as root"
    exit 0
fi

{{ range .packages.macos.brew.taps -}}
info "Tapping {{ . }}"
brew tap {{ . | quote }}
{{ end }}
info "Installing packages: {{ .packages.macos.brew.packages }}"
brew install --quiet {{ .packages.macos.brew.packages | quoteList | join " " }}
info "Installing casks: {{ .packages.macos.brew.casks }}"
brew install --quiet --cask {{ .packages.macos.brew.casks | quoteList | join " " }}
{{ end -}}

# vim: ft=jinja
