#! /bin/bash

{{ if eq .chezmoi.os "linux" -}}

# dconf-is-installed: {{ ne (lookPath "dconf") "" }}
# hashes: {{ include "data/dconf.dump.tmpl" | sha256sum }}

. ~/.local/lib/log.sh

info "Loading dconf settings"

if [[ "${EUID}" -eq 0 ]]; then
    warning "$0: Skipping dconf settings: running as root"
    exit 0
fi

if [[ -z "${DISPLAY:-}" ]]; then
    warning "$0: Skipping dconf settings: DISPLAY is not set"
    exit 0
fi

if ! command -v dconf &> /dev/null; then
    warning "$0: dconf not installed: skipping"
    exit 0
fi

dconf load / < <(chezmoi execute-template < "{{ .chezmoi.sourceDir }}/data/dconf.dump.tmpl")

# TODO: Add org.gnome.shell.extensions.dash-to-dock

{{- end }}

# vim: ft=bash
