#! /bin/bash

info()    { printf "\\e[32m[INFO]\\e[0m    %s\\n" "$*" >&2 ; }

info "Installing system packages"

{{ if eq .osid "linux-arch" -}}
info "Installing packages: {{ .packages.linux.arch }}"
sudo pacman -S --needed {{ range .packages.linux.arch }} {{ . | quote }} {{ end }}
{{ else if eq .osid "darwin" -}}
{{ range .packages.macos.brew.taps -}}
info "Tapping {{ . }}"
brew tap {{ . | quote }}
{{ end }}
info "Installing packages: {{ .packages.macos.brew.packages }}"
brew install --quiet {{ range .packages.macos.brew.packages }} {{ . | quote }} {{ end }}
info "Installing casks: {{ .packages.macos.brew.casks }}"
brew install --quiet --cask {{ range .packages.macos.brew.casks }} {{ . | quote }} {{ end }}
{{ end -}}

# vim: ft=jinja
