{{ if eq .setupWork true -}}
[user]
	email = {{ .work.email }}
	{{- if ne .work.signingKey "" }}
	signingKey = {{ .work.signingKey }}
	{{- end}}
[commit]
	gpgSign = {{ if ne .work.signingKey "" }}true{{ else }}false{{ end}}
[core]
	sshCommand = "ssh -i ~/.ssh/id_{{ .work.name }} -F /dev/null"

{{- if ne .work.githubOrganization "" }}
[url "ssh://git@github.com/{{ .work.githubOrganization }}/"]
	insteadOf = https://github.com/{{ .work.githubOrganization }}/
{{- end}}

{{- end }}

# vim: set noet syntax=gitconfig:
