{{- $pw := (includeTemplate "hostconfig" . | fromYaml).pipewire -}}

context.properties = {
    default.clock.rate          = {{ $pw.clock_rate }}
    default.clock.allowed-rates = [ {{ $pw.clock_rate }} ]

    default.clock.quantum     = {{ $pw.quantum }}
    default.clock.min-quantum = {{ $pw.min_quantum }}
    default.clock.max-quantum = {{ $pw.max_quantum }}
}
