{{- $pipewireConfig := .host_config.defaults.pipewire -}}
{{- if index .host_config .chezmoi.hostname -}}
{{- $pipewireConfig = mergeOverwrite $pipewireConfig (get .host_config .chezmoi.hostname).pipewire -}}
{{- end -}}

{{- $clockRate := $pipewireConfig.clock_rate -}}
{{- $quantum := $pipewireConfig.quantum -}}
{{- $minQuantum := $pipewireConfig.min_quantum -}}
{{- $maxQuantum := $pipewireConfig.max_quantum -}}

context.properties = {
    default.clock.rate          = {{ $clockRate }}
    default.clock.allowed-rates = [ {{ $clockRate }} ]

    default.clock.quantum     = {{ $quantum }}
    default.clock.min-quantum = {{ $minQuantum }}
    default.clock.max-quantum = {{ $maxQuantum }}
}
