{{ if or (ne (lookPath "python") "") (ne (lookPath "python3") "") -}}
MichaelAquilina/zsh-autoswitch-virtualenv
{{ end -}}
zdharma-continuum/fast-syntax-highlighting
Tarrasch/zsh-bd

# vim: ft=config
