require("config.plugins.lazy")

plugins = {
    { "907th/vim-auto-save" },
    { "Glench/Vim-Jinja2-Syntax" },
    { "NoahTheDuke/vim-just" },
    { "akinsho/toggleterm.nvim", config = true },
    { "cespare/vim-toml", branch = "main" },
    { "christoomey/vim-tmux-navigator" },
    { "easymotion/vim-easymotion" },
    { "gpanders/editorconfig.nvim" },
    { "phha/zenburn.nvim", lazy = false, priority = 100 },
    { "junegunn/fzf" },
    { "junegunn/fzf.vim" },
    { "junegunn/vim-easy-align" },
    { "junegunn/vim-peekaboo", cond = not vim.opt.diff:get() and vim.g.vscode == nil },
    { "junegunn/vim-slash" },
    { "lukas-reineke/indent-blankline.nvim", main = "ibl", cond = vim.g.vscode == nil },
    { "m4xshen/autoclose.nvim" },
    { "mhinz/vim-signify" },
    {{- if eq .nvim_enable_coc true }}
    { "neoclide/coc.nvim", branch = "release", cond = not vim.opt.diff:get() },
    {{- end }}
    { "ntpeters/vim-better-whitespace" },
    {
        "nvim-neotest/neotest",
        dependencies = {
            "nvim-neotest/nvim-nio",
            "nvim-lua/plenary.nvim",
            "antoinemadec/FixCursorHold.nvim",
            "nvim-treesitter/nvim-treesitter",
            "nvim-neotest/neotest-python",
            "rouge8/neotest-rust",
        },
    },
    { "nvim-treesitter/nvim-treesitter", build = ":TSUpdate" },
    {
        "ryanoasis/vim-devicons",
        dependencies = {
            "vim-airline/vim-airline",
            "vim-airline/vim-airline-themes",
        },
    },
    { "scrooloose/nerdcommenter" },
    { "towolf/vim-helm" },
    { "tpope/vim-repeat" },
    { "tpope/vim-surround" },
    { "vim-airline/vim-airline" },
    { "vim-airline/vim-airline-themes" },
}

require("lazy").setup(plugins)

require("config.plugins.airline")
require("config.plugins.auto-save")
require("config.plugins.autoclose")
require("config.plugins.better-whitespace")
{{- if eq .nvim_enable_coc true }}
require("config.plugins.coc-nvim")
{{- end }}
require("config.plugins.easy-align")
require("config.plugins.fzf")
if vim.g.vscode == nil then
    require("config.plugins.indent-guides")
end
require("config.plugins.neotest")
require("config.plugins.nerdcommenter")
require("config.plugins.toggleterm")
require("config.plugins.treesitter")

-- vim: ft=lua
